<dx-tab-panel 
    [dataSource]="tabsDS"
    [scrollingEnabled]="true"
    [showNavButtons]="true"
    [selectedIndex]="0">
    <div *dxTemplate="let tabName of 'title'">
        <span> {{tabName.tabName}} </span>
    </div>
    <div *dxTemplate="let tab of 'item'; index as tabIndexForGrid">
      <dx-data-grid [dataSource]="tabDS.get(tab.tabName)"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [showColumnHeaders]="true"
      [showColumnLines]="true"
      [showRowLines]="true" >
        <dxo-editing 
          mode="cell"
          [allowAdding]="true"
          [allowDeleting]="true"
          [allowUpdating]="true" >
        </dxo-editing>
        <div *ngFor="let column of tab.columns" >
          <div *ngIf="column.type === 'MasterId'">
              <dxi-column [dataField]="column.name" >
              <dxo-lookup
                [dataSource]="lookupDs"
                displayExpr="MasterName"
                valueExpr="Id">
              </dxo-lookup>
              </dxi-column>
          </div>
          <div *ngIf="column.type === 'number'">
              <dxi-column [dataField]="column.name" [dataType]='column.type'></dxi-column>
          </div>
          <div *ngIf="column.type === 'string'">
              <dxi-column [dataField]="column.name" [dataType]='column.type'></dxi-column>
          </div>
        </div>
      </dx-data-grid>
    </div>
</dx-tab-panel>



<div *ngIf="isGroupRadioButtons">
  Groupwise radio button enable
  <hello ></hello>
</div>
