<dx-tab-panel 
    [dataSource]="tabsDS"
    [scrollingEnabled]="true"
    [showNavButtons]="true"
    [selectedIndex]="0">
    <div *dxTemplate="let tabName of 'title'">
        <span> {{tabName.tabName}} </span>
    </div>
    <div *dxTemplate="let tab of 'item'; index as tabIndexForGrid">
      <dx-data-grid [dataSource]="tabDS.get(tab.tabName)"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [showColumnHeaders]="true"
      [showColumnLines]="true"
      [columns]="Tabcolumns.get(tab.tabName)"
      [showRowLines]="true" 
      (onContextMenuPreparing) ="PreparingContextMenu($event)"
      (onEditorPreparing)="EditorPreparing($event)" >
        <dxo-editing 
          mode="cell"
          [allowAdding]="true"
          [allowDeleting]="true"
          [allowUpdating]="true" >
        </dxo-editing>

      </dx-data-grid>
    </div>
</dx-tab-panel>



<div *ngIf="isGroupRadioButtons">
  Groupwise radio button enable
  <hello ></hello>
</div>
